__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

datasets/
dataset/
feature/
features/
logs/
log/
save_model/
save_models/
checkpoint/
checkpoints/
pretrained_model/
wandb/
runs/
output/
outputs/
result/
results/

*.pt
*.pth
*.bin
*.ckpt
*.npy
*.npz
*.pkl
*.pickle
*.h5
*.csv
*.tsv

.DS_Store
